<div class="text-center mt-4">
    <h4>Bienvenido al mundo de los Cafés Especiales</h4>
    <h1>We are Deux, we are Coffee, we are Roasters.</h1>
    <div class="col-12">
        <p>
            Nacimos en 2017, con el propósito de ser una cafetería moderna y entregar una experiencia única y positiva, 
            desde el compromiso de ofrecer café de la mejor calidad y recién tostado, combinado con un ambiente acogedor para relajarse 
            y pasar tiempo de calidad en la compañía de amigos o una buena taza de café. Un ambiente minimalista, arquitectura moderna 
            y urbana crean un ambiente único y exclusivo en nuestras tiendas, ofreciendo un ambiente tranquilo, atractivo y muy funcional 
            en todos sus detalles, logrando que el cliente se sumerja en todo el proceso.
        </p>
    </div>
</div>

<p-divider></p-divider>

<div class="text-center mt-6">
    <div class="flex justify-center flex-wrap">
        <div class="mx-4 col-12 md:col-4 text-center mb-4">
            <h5>SOLO LOS MEJORES GRANOS</h5>
            <h2>Dedicación del grano a la taza</h2>
            <p>
                Con los más altos estándares de calidad, nuestros granos tipo Arábica son recolectados a mano y secados mediante 
                procesos naturales, revelando únicamente granos con una puntuación superior a 84 puntos según la Specialty Coffee Association.
            </p>
        </div>
        <div class="mx-4 col-12 md:col-5">
            <img class="w-full rounded-lg shadow-lg" src="../assets/imagenes/grano.jpg" alt="Imagen de granos de café">
        </div>
    </div>
</div>