.text-center {
    text-align: center;
}

.mt-4 {
    margin-top: 1rem;
}

.mt-6 {
    margin-top: 1.5rem;
}

.mb-4 {
    margin-bottom: 1rem;
}

.mx-4 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.col-12 {
    width: 100%;
}

@media (min-width: 768px) {
    .md\:col-4 {
        width: 33.3333%;
    }

    .md\:col-5 {
        width: 41.6667%;
    }
}

.w-full {
    width: 100%;
}

.rounded-lg {
    border-radius: 0.5rem;
}

.shadow-lg {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05);
}

.category-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    align-items: center;
    justify-content: center;
}

.category-item {
    position: relative;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.category-content {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.imgCategory {
    width: 250px;
    height: 250px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.category-item:hover .imgCategory {
    transform: scale(1.2);
}

.category-name {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    padding: 10px;
    display: none;
    transition: opacity 0.3s ease;
}

.category-item:hover .category-name {
    display: block;
}

.button-menu{
    background-color: rgb(214, 180, 140);
    color: #975f1b;
    border: transparent;
}

.mensaje{
    background-color: #f5f1e9;
    /* border: transparent; */
}