.menu{
    background-color: #f5f1e9;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
}

.menu-list{
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0;
    margin: 0;
    flex-wrap: wrap; 
}

.menu-item{
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.menu-item:hover {
    background-color: #e0d8c8;
}

.menu-item.active {
    background-color: #a5937d;
    color: white;
}


.product-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.products-list{
    position: relative;
    margin: 5px 10px;
}

.products-list-content{
  position: relative;
  border-radius: 8px;
}

.product-image{
    width: 200px;
    height: 200px;
    border-radius: 8px;
}

.product-name{
    font-weight: bold;
}

.buttonCart{
    float: right;
}

.cantidad-input {
    height: 45px;
    border-radius: 5px;
    width: 100px;
    margin-right: 5px;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc; 
    padding: 5px; 
    transition: border-color 0.3s ease; 
}

.floating-cart-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000; 
    background-color: #f44336; 
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.floating-cart-btn:hover {
    background-color: #d32f2f;
}


/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
    .menu-list {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        align-items: center; /* Centra los elementos */
    }
    
    .menu-item {
        padding: 10px; /* Ajusta el padding para pantallas más pequeñas */
        font-size: 14px; /* Reduce el tamaño de la fuente */
    }
}